# Entorno Virtual (No se sube porque es específico de tu PC)
venv/
env/
ENV/

# Base de Datos local (No se sube para evitar sobrescribir datos de otros)
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Carpetas de VS Code y archivos de sistema
.vscode/
.DS_Store